body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./icons/background.jpg);
  background-repeat: repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.custom-footer{
    border-top: var(--border);
    max-width: 100%;
    padding: 8px;
    background-color: rgb(12, 247, 228);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: auto;
    opacity: 0.9;
}

.text{
  color: rgb(235, 235, 235);
}

.card-title{
  font-size: 90px;
}
